In [22]:
import pandas as pd

In [27]:
dataset = pd.read_json('colorData.json')

In [32]:
df = pd.DataFrame.from_dict(data, orient='columns')

In [28]:
df.head()

                                             entries
0  {'b': 155, 'g': 183, 'label': 'green-ish', 'r'...
1  {'b': 71, 'g': 22, 'label': 'pink-ish', 'r': 2...
2  {'b': 33, 'g': 196, 'label': 'orange-ish', 'r'...
3  {'b': 237, 'g': 147, 'label': 'blue-ish', 'r':...
4  {'b': 225, 'g': 159, 'label': 'blue-ish', 'r':...